<!--
データ更新

vu3対応のためrefバインドを利用している

-->
<!DOCTYPE html>
<html lang="ja">
<meta charset="utf-8">

<div id="app">
    <span>{{ users.length }}人登録済です。</span>
    <form class="inputArea">
        <label>ニックネーム</label>
        <input v-model="nickname">
        <label >Eメール</label>
        <input v-model="email">
    </form>

    <div class="previewArea">
        <p>プレビュー</p>
        <label>ニックネーム</label>
        <input :value="nickname" readonly>
        <label >Eメール</label>
        <input :value="email" readonly>
    </div>

    <div class="buttonArea">
        <button v-on:click="saveUser">ユーザーを登録する</button>
    </div>

    <div>
        <table>
            <thead>
            <th>ニックネーム</th>
            <th>メールアドレス</th>
            </thead>
            <tbody>
            <tr v-for="(user,index) in filteredUsers">
                <td>
                    <span v-if="!user.editable" @click="edit(user,index)">{{user.nickname}} | {{user.editable}}</span>
                    <input v-show="user.editable" v-model="user.nickname" @blur="user.editable = false" :ref="editNickname" />
                </td>
                <td>{{ user.email }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <label>リストをニックネームで絞り込む</label>
        <input v-model="nicknameFilter">
    </div>

</div>





<script src="https://unpkg.com/vue@next"></script>

<script>
    const app = Vue.createApp({
        data: ()=>({
            users: [],
            nickname: '',
            email: '',
            nicknameFilter: '',
            itemRefs: [],
            //message:users.length
        }),
        methods: {
            saveUser: function () {
                let user = {
                    nickname: this.nickname,
                    email: this.email,
                    editable : false
                };
                this.users.push(user);
                alert("ニックネーム" + this.nickname + " Eメール" + this.email + "を登録しました。");
            },
            edit: function(user,index){
                console.log(user);
                user.editable = true;
                this.$nextTick(function(){
                    console.log(this.itemRefs);
                    this.itemRefs[index].focus();
//                    this.$refs.editNickname[index].focus();
                });
                console.log(user);
            },
            editNickname(el){
                if(el){
                    this.itemRefs.push(el);
                }
            }
        },
        beforeUpdate() {
            this.itemRefs = []
        },
        updated() {
            console.log(this.itemRefs)
        },
        computed: {
            filteredUsers: function(){
                console.log('filteredUsers called.');
                return this.users.filter(user => user.nickname.includes(this.nicknameFilter));
            }
        }
    });
    app.mount('#app');
</script>